
<div class="container">
    <h2>About the Organizer</h2>
    <p>
        Hello I am the Organizer of Mise En Place Homeless sanctuary, Diego Carmona. We are inviting all those who wish to donate their time and efforts to participate in the Hangering for Homes Fundraiser that will be held April 23rd, at 4:00 PM at 123 someplace drive, illinois.
    </p>
    <p>
        This Fundraiser is to help build trsust and relationships between the less fortunate and those who can lend helping hands to all those in need. As such we will be holkding an outside grill for everyone to come and eat together as well as donate any amount of funds to help us support and further spread our message for the individuals among us who need a second or even first chance to better their lives.
    </p>
</div>